<div class="add-new-weight">
    <div class="align-items-center">
      <div class="col-auto my-1">
        <label class="sr-only" for="inlineFormInputGroupUsername">Gewicht</label>
        <div class="input-group">
          <input type="number" class="form-control" id="inlineFormInputGroupUsername" placeholder="85.6" ngModel="">
          <div class="input-group-append">
            <div class="input-group-text">kg</div>
          </div>
          <div class="col-auto my-1">
            <button type="submit" class="btn btn-outline-success">+</button>
          </div>
        </div>
      </div>
    </div>
</div>
