<div class="add-new-weight">
    <div class="align-items-center">
      <div class="col-auto my-1">
        <label class="sr-only" for="inlineFormInputGroupUsername">Gewicht</label>
        <div class="input-group">
          <input type="number" class="form-control" id="inlineFormInputGroupUsername" placeholder="85.6" [(ngModel)]="weightInput">
          <div class="input-group-append">
            <div class="input-group-text">kg</div>
          </div>
          <div class="col-auto my-1">
            <button type="submit" class="btn btn-outline-success" (click)="addWeightToAPI()" *ngIf="!loading">+</button>
            <div class="progress" style="height: 2rem;" *ngIf="loading">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 35px"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

